version: '3.6'

services:
  rabbitmq:
    container_name: ddev-${DDEV_SITENAME}-rabbitmq
    hostname: ${DDEV_SITENAME}-rabbitmq
    image: rabbitmq:3-management
    ports:
      - "${RABBITMQ_PORT_FIRST}:${RABBITMQ_PORT_FIRST}"
      - "${RABBITMQ_PORT_SECOND}:${RABBITMQ_PORT_SECOND}"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}
    environment:
      - RABBITMQ_ERLANG_COOKIE=${RABBITMQ_ERLANG_COOKIE:-'SWQOKODSQALRPCLNMEQG'}
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER:-'rabbitmq'}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS:-'rabbitmq'}
      - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST:-'/'}
    volumes:
      - "./rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins"
      - ".:/mnt/ddev_config:ro"

  web:
    links:
      - rabbitmq:rabbitmq

volumes:
  rabbitmq:
    name: "${DDEV_SITENAME}-rabbitmq"